{% extends "base.html" %}

{% block title %} Listagem de Pizzas {% endblock %}

{% block content %}

    <h1>Listagem de Pizzas</h1>

    <a href="{% url 'pizzas:nova-pizza' %}" class="btn btn-primary">Novo</a>
    <br/><br/>
    <table class="table table-condensed table-striped table-hover">
        <tr>
            <th>Sabor</th>
            <th>Descrição</th>
            <th colspan="2"></th>
        </tr>
        {% for pizza in pizzas %}
            <tr>
                <td style="vertical-align: middle">{{ pizza.sabor }}</td>
                <td style="vertical-align: middle">{{ pizza.descricao }}</td>
                <td style="text-align: center"><a href="{% url 'pizzas:edita-pizza' pizza.id %}" class="btn btn-primary">Editar</a></td>
                <td style="text-align: center"><a href="{% url 'pizzas:exclui-pizza' pizza.id %}" class="btn btn-danger">Excluir</a></td>
            </tr>
            <tr>
                <td style="vertical-align: middle" colspan="5">
                    <b>Ingredientes:</b>
                    {% for ingrediente in pizza.ingredientes.all %}
                        {{ ingrediente.nome }};
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}